* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #0B1117;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    color: #FFFFFF;
}

.navbar {
    height: 70px;
    background-color: #151E26;
    border-bottom: 1px solid #263640;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 33px 0 40px;
}

.logo img {
    height: 42px;
    width: auto;
    display: block;
}

.nav-links {
    display: flex;
    align-items: center;
    gap: 30px;
}

.nav-links a {
    color: #C5CED5;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 8px;
    transition: 0.2s;
}

.nav-links a:hover {
    color: #2DD4BF;
    background-color: #1C292F;
}

.nav-links a.active {
    color: #2DD4BF;
}