.profile-container {
    width: 100%;
    margin: 50px auto;
    padding: 0 40px;
}

.profile-title {
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 28px;
}

.profile-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.profile-field {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.profile-field label {
    color: #C5CED5;
    font-size: 14px;
    font-weight: 500;
}

.custom-input {
    width: 100%;
    background-color: #151E26;
    border: 1px solid #263640;
    color: #FFFFFF;
    padding: 13px 14px;
    font-size: 14px;
    border-radius: 8px;
    outline: none;
}

.custom-input::placeholder {
    color: #71808C;
}

.custom-input:focus {
    background-color: #151E26;
    border-color: #14B8A6;
    color: #FFFFFF;
    box-shadow: 0 0 0 0.02rem rgba(20, 184, 166, 0.25);
}

.new-password {
    margin-top: 4px;
}

.btn-login {
    background-color: #14B8A6;
    color: #ffffff;
    padding: 12px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    border: none;
}

.btn-login:hover {
    background-color: #109385;
    color: #ffffff;
}

.field-with-icon {
    position: relative;
}

.field-with-icon .custom-input {
    width: 100%;
    box-sizing: border-box;
    padding-right: 40px;
}

.custom-input[readonly] {
    color: #6b7280;
    cursor: not-allowed;
    background-color: #10171d;
}

.custom-input.editing {
    color: #ffffff;
    cursor: text;
    background-color: #151E26;
}

.edit-icon-btn,
.save-icon-btn {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

.edit-icon-btn {
    color: #71808C;
}

.edit-icon-btn:hover {
    color: #ffffff;
}

.save-icon-btn {
    color: #14B8A6;
}

.save-icon-btn:hover {
    color: #1cd6c1;
}

/* confirm password popup */
.confirm-modal-content {
    background-color: #151E26;
    color: #ffffff;
    border-radius: 12px;
    margin-left: 20px;
    margin-right: 20px;
}

.modal-error {
    color: #ff6b6b;
    font-size: 13px;
}

.page-message {
    text-align: center;
    font-size: 14px;
}


.btn-logout {
    background-color: #ff6b6b;
    color: #ffffff;
    padding: 12px;
    font-weight: 600;
    font-size: 15px;
    border-radius: 8px;
    text-align: center;
    margin-top: 30px;
}

.btn-logout:hover {
    background-color: #ff7878;
}